@charset "UTF-8";
@import 'reset';
@import 'colors';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #EEF2F5;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
}

/* Header
****************************************/
#header {
    background: $primary-color;
    color: #fff;
    h1 {
      float: left;
      padding: 0px 20px;
      font-size: 20px;
      background: $secondary-color;
      line-height: 70px;
    }
    ul {
      float: left;
      li {
        float: left;
        margin-left: 20px;
        a {
          display: block;
          color: #fff;
          line-height: 1.5;
          margin-top: 25px;
          font-weight: 300;
          &.active,
          &:hover {
            border-bottom: 1px solid $secondary-color;
          }
        }
      }
    }
}

/* Subheader
****************************************/
#subheader {
  line-height: 40px;
  height: 72px;
  background: #fff;
  border-bottom: 2px solid #ddd;
  padding: 15px 20px;
  h1 {
    float: left;
    font-size: 20px;
  }
  a {
    float: right;
    display: block;
    padding: 0px 20px;
    background: $secondary-color;
    border-radius: 4px;
    color: #fff;
    border: 1px solid $secondary-color;
    &:hover {
      background: #fff;
      color: $secondary-color;
    }
  }
}

/* Content
****************************************/
#content {
  padding: 20px;
}

/* Box
****************************************/
.box {
  margin-right: 20px;
  float: left;
  border-bottom: 2px solid #ddd;
  background: #fff;
  border-radius: 4px;
  .box--content {
    padding: 15px;
    span.box--content-type {
      display: block;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .box--footer {
    padding: 15px;
    background: #fafbfd;
    color: #aba5a5;
    border-top: 1px solid #eef2f5;
    a {
      color: #aba5a5;
    }
  }
}

/* Box
****************************************/
.alert {
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.5;
  &.errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}