.project__screen {
  .box {
    width: 500px;
    h2 {
      margin-bottom: 15px;
    }
    ul {
      li {
        text-align: right;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
        span {
          display: block;
          float: left;
          font-weight: bold;
          text-align: left;
        }
      }
    }
  }
}