@import '../../colors';

.projectcreate__screen {
  .box {
    width: 500px;
    h2 {
      margin-bottom: 15px;
    }
    .form-group {
      margin-top: 10px;
      label {
        display: block;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        outline: none;
        padding: 6px;
        font-size: 14px;
      }
      button {
        cursor: pointer;
        outline: none;
        width: 100%;
        background: $secondary-color;
        color: #fff;
        padding: 10px;
        border: 1px solid $secondary-color;
        font-size: 14px;
        &:hover {
          background: #fff;
          color: $secondary-color;
        }
      }
    }
  }
}